<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850984528124-8tuod9g5tm670nvkk9vrjet350lrru3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850984528124-8tuod9g5tm670nvkk9vrjet350lrru3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBN-tLd7HuvoCEgQB3ulvQpPM1ZdYEyD14</string>
	<key>GCM_SENDER_ID</key>
	<string>850984528124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autotsk.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>autotsk-e8bb3</string>
	<key>STORAGE_BUCKET</key>
	<string>autotsk-e8bb3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850984528124:ios:b76e4f2ba5bc0e4e35cf79</string>
</dict>
</plist>